/* Default styles */
.aboutme-container {
  text-align: center;
  margin-top: 20px;
}

.profile-circle {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20%;
  border: 2px solid #f9a571;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

p {
  margin-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  color: #666;
}

/* Media queries */
@media screen and (max-width: 1200px) {
  .aboutme-container {
    padding: 0 50px; /* Adjusted padding for tablets */
  }
}

@media screen and (max-width: 768px) {
  .aboutme-container {
    padding: 0 30px; /* Adjusted padding for tablets */
  }
  .profile-image {
    width: 150px; /* Adjusted width for tablets */
    height: 150px; /* Adjusted height for tablets */
  }
  p {
    padding-left: 0px; /* Adjusted padding for tablets */
    padding-right: 0px; /* Adjusted padding for tablets */
  }
}

@media screen and (max-width: 480px) {
  .aboutme-container {
    padding: 0 20px; /* Adjusted padding for smartphones */
  }
  .profile-image {
    width: 100px; /* Adjusted width for smartphones */
    height: 100px; /* Adjusted height for smartphones */
  }
  p {
    padding-left: 10px; /* Adjusted padding for smartphones */
    padding-right: 10px; /* Adjusted padding for smartphones */
  }
}
